* {
    margin: 0;
    padding: 0;
}
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
body {
    display: flex;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 62em;
    margin: auto;
}

.main_container .sedans,
.suvs,
.luxury {
    padding: 3em;
}

.main_container .sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.main_container .suvs {
    background-color: hsl(184, 100%, 22%);
}

.main_container .luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.main_container .headings {
    color: hsl(0, 0%, 95%);
    font-size: 2.5em;
    font-family: "Big Shoulders Display", cursive;
    margin: 0.8em 0;
}

.main_container .paragraphs {
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 1em;
    line-height: 1.8em;
    font-family: "Lexend Deca", sans-serif;
}

.main_container .btn {
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 30px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1em;
    border: none;
    margin-top: 5em;
}

.main_container .sedans > .btn {
    color: hsl(31, 77%, 52%);
}

.main_container .suvs > .btn {
    color: hsl(184, 100%, 22%);
}

.main_container .luxury > .btn {
    color: hsl(179, 100%, 13%);
}

.main_container .btn:active {
    border-style: none;
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.main_container .btn:focus-visible {
    outline: none;
}

@media only screen and (max-width: 1400px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 865px) {

    .main_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 5em 2em;
    }

    .main_container .sedans {
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 10px 0 0;
    }

    .main_container .luxury {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 10px 10px;
    }
}
