* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url("../images/bg-pattern-bottom.svg"), url("../images/bg-pattern-top.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 70em, 70em;
    background-position: calc(45vw) calc(50vh), calc(51vw - 70em) calc(63vh - 70em);
}
.main_container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main_container .card {
    width: 21.9em;
    background-image: url("../images/bg-pattern-card.svg");
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 13px;
    text-align: center;
}

.main_container .card .profile {
    height: 17em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    border-bottom: hsl(0, 0%, 89%) 1px solid;
}

.main_container .card .profile .photo {
    width: 90px;
    height: 90px;
    background-image: url("../images/image-victor.jpg");
    border: white 5px solid;
    border-radius: 50%;
    margin-top: 75px;
}

.main_container .card .profile .info {
    margin-top: 20px;
}

.main_container .card .profile .info .name {
    font-size: 1.2em;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.main_container .card .profile .info .name span {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.main_container .card .profile .info .city {
    font-size: 0.9em;
    color: hsl(227, 10%, 46%);
}

.main_container .card .stats {
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 20px;
}

.main_container .card .stats .rate {
    font-size: 1.2em;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.main_container .card .stats .impression {
    margin: 5px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.main_container .card .profile .fade-in {
    animation: opac 2s;
}

.main_container .card .zoom-in {
    animation: zoomIn 0.5s;
}

@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1400px) {
    body {
        font-size: 16px;
    }
}
