* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    display: grid;
    font-family: "Kumbh Sans", sans-serif;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 62em;
    height: 60vh;
    margin: auto;
    border-radius: 20px;
}

.main_container .img_container {
    /* position: relative; */
    background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -5em 5em, -36em -18em;
}

/* .main_container .img_container img { */
/* position: absolute; */
/* } */

.main_container .question_container {
    margin: 4em 6em 0 0;
}

.main_container .question_container h1 {
    margin-bottom: 1em;
}

.main_container .question_container .questions_heading {
    font-size: 1em;
    padding-top: 20px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.main_container .question_container .questions_heading .question_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.main_container .question_container .questions_heading .question_block .arrow {
    height: 7px;
}

.main_container .question_container .questions_heading .question_block .rotate {
    transition: all 1s;
    transform: rotate(180deg);
}

.main_container .question_container .questions_heading .question_block .question {
    color: hsl(237, 12%, 33%);
}

.main_container .question_container .questions_heading .question_block:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}

.main_container .question_container .questions_heading .answer {
    display: none;
}

.main_container .question_container .questions_heading.show_answer .answer {
    display: contents;
    color: hsl(240, 6%, 50%);
}

.main_container .question_container .questions_heading .answer p {
    padding-bottom: 20px;
    line-height: 20px;
}
